Source: ros-indigo-avt-vimba-camera
Section: misc
Priority: extra
Maintainer: Miquel Massot <miquel.massot@uib.cat>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-camera-info-manager, ros-indigo-catkin, ros-indigo-diagnostic-updater, ros-indigo-driver-base, ros-indigo-dynamic-reconfigure, ros-indigo-image-geometry, ros-indigo-image-transport, ros-indigo-libvimba, ros-indigo-polled-camera, ros-indigo-roscpp, ros-indigo-sensor-msgs, ros-indigo-std-msgs
Homepage: http://wiki.ros.org/avt_vimba_ros
Standards-Version: 3.9.2

Package: ros-indigo-avt-vimba-camera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-camera-info-manager, ros-indigo-diagnostic-updater, ros-indigo-driver-base, ros-indigo-dynamic-reconfigure, ros-indigo-image-geometry, ros-indigo-image-transport, ros-indigo-libvimba, ros-indigo-polled-camera, ros-indigo-roscpp, ros-indigo-sensor-msgs, ros-indigo-std-msgs
Description: Wrapper of the Allied Vision Technologies (AVT) VIMBA Ethernet and Firewire SDK.
